{
    "directories": [
        {
            "input": "Sprites",
            "output": "../bin/Debug/net6.0/Content/Sprites"
        }
    ],
    "files": [
        {
            "input": "Dialogue/TestDialogue.yarnproject",
            "output": "../bin/Debug/net6.0/Content/Dialogue/TestDialogue.bin"
        }
    ]
}